<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <h1>Create a new restaurant</h1>
    <h3 >name</h3>
    <input type="text" ng-model="restaurant.name" placeholder="name">

    <div>
        <p> English: info</p>
        <input type="text" ng-model="restaurant.info.en" placeholder="info">
        <p> French: info </p>
        <input type="text" ng-model="restaurant.info.fr" placeholder="info">
    </div>

    <div ><h3>Address</h3>
        <input type="text" ng-model="restaurant.address.street" placeholder="street">
        <input type="text" ng-model="restaurant.address.PC" placeholder="postal code">
        <input type="text" ng-model="restaurant.address.city" placeholder="city">
    </div>

        <h3>restaurant category english</h3>
                <input type="text" ng-model="cat" placeholder="category">
                <button ng-click="addCat()">add</button>
    <h3>restaurant category french</h3>
    <input type="text" ng-model="catFR" placeholder="category">
    <button ng-click="addCatFR()">add</button>


    <h3>images</h3>
    <input type="file" id="file" name="file" />
    <button ng-click="addPicture()">Add</button>

    <p>
        opening hours
        <input type="number" ng-model="openingHours.weekday" placeholder="day">
        <input type="number" ng-model="openingHours.start" placeholder="start">
        <input type="number" ng-model="openingHours.end" placeholder="end">
        <button ng-click="addHours()">add</button>
    </p>

    <button ng-click="submit()">submit</button>
</div>


<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope, $http)
    {
        //
        $scope.path = "http://localhost:1234";
        $scope.restaurant = {};
        clearRestaurantForm();
        $scope.openingHours = {};


        $scope.addPicture = function()
        {
            var f = document.getElementById('file').files[0],
                r = new FileReader();

            r.onloadend = function(e) {
                var data = e.target.result;
                $scope.restaurant.images.push(arrayBufferToBase64(data));

                console.log("image added");
            };
            r.readAsArrayBuffer(f);
        };


        $scope.submit= function()
        {
            console.log("submit");
            console.log($scope.restaurant);
            var res = $http.post($scope.path +'/restaurant/addRestaurant', $scope.restaurant);

            res.then(function (data, status, headers, config) {
                console.log(data);
                $scope.restaurant = {};
                clearRestaurantForm();
            });
            res.catch(function (data, status, header, config) {
                console.log("error");
            });
        };


        function clearRestaurantForm()
        {
            $scope.restaurant.address = {};
            $scope.restaurant.info = {};
            $scope.restaurant.images = [];
            $scope.restaurant.openingHours = [];
            $scope.restaurant.category = {};

            console.log($scope.restaurant);
        }

        $scope.addHours = function()
        {
            $scope.restaurant.openingHours.push($scope.openingHours);
            console.log($scope.openingHours);
            console.log($scope.restaurant.openingHours);
            $scope.openingHours = {};
        };

        $scope.cat = null;
        $scope.addCat = function()
        {
            console.log($scope.cat);
            $scope.restaurant.category.en.push($scope.cat);
            $scope.cat = null;
        };
        $scope.catFR = null;
        $scope.addCatFR = function()
        {
            $scope.restaurant.category.fr.push($scope.catFR);
            $scope.catFR = null;
        };

        function arrayBufferToBase64( buffer ) {
            var binary = '';
            var bytes = new Uint8Array( buffer );
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode( bytes[ i ] );
            }
            return window.btoa( binary );
        }
    });
</script>

</body>
</html>
