<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">

    <h1>Create a new restaurant</h1>
    <input type="text" ng-model="restaurant.name" placeholder="name">

    <div>
        <p> English</p>
        <input type="text" ng-model="restaurant.en.info" placeholder="info">
        <p> French </p>
        <input type="text" ng-model="restaurant.fr.info" placeholder="info">
    </div>

    <div >Address
    <input type="text" ng-model="restaurant.address.street" placeholder="street">
    <input type="text" ng-model="restaurant.address.PC" placeholder="postal code">
    <input type="text" ng-model="restaurant.address.city" placeholder="city">
    </div>

    <div >Menu
        <input type="text" ng-model="restaurant.menu.number" placeholder="number">
        <input type="file" id="menuFile" name="menuFile" />
        <button ng-click="addPictureMenu()">Add</button>

        <div>
            English
            <input type="text" ng-model="menu.en.name" placeholder="name">
            <input type="text" ng-model="menu.en.info" placeholder="info">
            <input type="text" ng-model="menu.en.desc" placeholder="description">
            <p>
                <input type="text" ng-model="enIn" placeholder="ingredient">
                <button ng-click="addInEN()">add</button>
            </p>
            <p>
                <input type="text" ng-model="enTag" placeholder="tag">
                <button ng-click="addTagEN()">add</button>
            </p>
            <p>
                <input type="text" ng-model="enCat" placeholder="category">
                <button ng-click="addCatEN()">add</button>
            </p>
        </div>

        <div>
            French
            <input type="text" ng-model="menu.fr.name" placeholder="name">
            <input type="text" ng-model="menu.fr.info" placeholder="info">
            <input type="text" ng-model="menu.fr.desc" placeholder="description">
            <p>
                <input type="text" ng-model="frIn" placeholder="ingredient">
                <button ng-click="addInFR()">add</button>
            </p>
            <p>
                <input type="text" ng-model="frTag" placeholder="tag">
                <button ng-click="addTagFR()">add</button>
            </p>
            <p>
                <input type="text" ng-model="frCat" placeholder="category">
                <button ng-click="addCatFR()">add</button>
            </p>
        </div>
        <p>
            <button ng-click="addMenuItem()">addMenuItem</button>
        </p>
    </div>

    <input type="file" id="file" name="file" />
    <button ng-click="addPicture()">Add</button>



    <input type="file" accept="image/*" onchange="angular.element(this).scope().loadFile(event)">
    <img id="image"/>

    <p>
        opening hours
        <input type="number" ng-model="openingHour.weekday" placeholder="day">
        <input type="number" ng-model="openingHour.start" placeholder="start">
        <input type="number" ng-model="openingHour.end" placeholder="end">
        <button ng-click="addHours()">add</button>
    </p>

    <button ng-click="submit()">submit</button>
</div>


<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope, $http)
    {
        //
        $scope.path = "http://localhost:1234";
        $scope.restaurant = clearRestaurantForm($scope.restaurant);
        /*$scope.restaurant.address = {};
        $scope.restaurant.en = {};
        $scope.restaurant.fr = {};
        $scope.restaurant.images = [];
        $scope.restaurant.menu = [];*/
        $scope.menu = {}; //clearMenuForm($scope.menu);
        $scope.menu.en = {};
        $scope.menu.fr = {};
        $scope.menu.en.ingredients = [];
        $scope.menu.en.tags = [];
        $scope.menu.en.category = [];
        $scope.menu.fr.ingredients = [];
        $scope.menu.fr.tags = [];
        $scope.menu.fr.category = [];
        $scope.openingHours = {};
        $scope.restaurant.openingHours = [];

        console.log($scope.restaurant);

        /*$scope.loadFile = function(event) {
            var output = document.getElementById('output');
            console.log(event.target.files[0]);
            console.log(event);
            var image = event.target.files[0];
            output.src = URL.createObjectURL(event.target.files[0]);
            var istring = btoa( image );
            $scope.restaurant.name = "testImageRestaurant";
            $scope.restaurant.images = istring;
            $scope.submit();
        };*/

        $scope.addPicture = function()
        {
            var f = document.getElementById('file').files[0],
                r = new FileReader();

            r.onloadend = function(e) {
                var data = e.target.result;
                $scope.restaurant.images.push(arrayBufferToBase64(data));

                console.log("image added");
            };
            r.readAsArrayBuffer(f);
        };

        $scope.addPictureMenu = function() {
            var f = document.getElementById('menuFile').files[0],
                r = new FileReader();

            r.onloadend = function(e) {
                var data = e.target.result;
                //document.getElementById("image").src = "data:image/jpg;base64,"+$scope.restaurant.images;
                $scope.menu.image = arrayBufferToBase64(data);
            };
            r.readAsArrayBuffer(f);
            console.log("food image added");
        };

        $scope.menu = {};
        $scope.addMenuItem = function()
        {
            $scope.restaurant.menu.push($scope.menu);
            console.log("menu item added");
            $scope.menu = clearMenuForm($scope.menu);
        };

        $scope.submit= function()
        {
            console.log("submit");
            console.log($scope.restaurant);
            var res = $http.post($scope.path +'/restaurants/addRestaurant', $scope.restaurant);

            res.then(function (data, status, headers, config) {
                    console.log(data);
                    $scope.restaurant = clearRestaurantForm($scope.restaurant);
                });
                res.catch(function (data, status, header, config) {
                    console.log("error");
                });
        };

        $scope.getAllRestaurants = function()
        {

        };

        function clearRestaurantForm(scopeRest)
        {
            var restaurant = {};
            /*$scope.restaurant.address = {};
            $scope.restaurant.en = {};
            $scope.restaurant.fr = {};
            $scope.restaurant.images = [];
            $scope.restaurant.menu = [];*/
            restaurant.address = {};
            restaurant.en = {};
            restaurant.fr = {};
            restaurant.images = [];
            restaurant.menu = [];
            scopeRest = restaurant;
            return scopeRest;
        }

        function clearMenuForm(scopeMenu)
        {
            var menu = {};
            /*$scope.menu.en = {};
            $scope.menu.fr = {};
            $scope.menu.en.ingredients = [];
            $scope.menu.en.tags = [];
            $scope.menu.en.category = [];
            $scope.menu.fr.ingredients = [];
            $scope.menu.fr.tags = [];
            $scope.menu.fr.category = [];*/
            menu.en = {};
            menu.fr = {};
            menu.en.ingredients = [];
            menu.en.tags = [];
            menu.en.category = [];
            menu.fr.ingredients = [];
            menu.fr.tags = [];
            menu.fr.category = [];
            console.log("MEUN");
            console.log(menu);
            scopeMenu = menu;
            return scopeMenu;
        }


        $scope.addInEN = function()
        {
            console.log($scope.enIn);
            //if($scope.enIn.length > 0)$scope.menu.en.ingredients.push($scope.enIn);
            //$scope.enIn = "";
            console.log($scope.menu);
            if($scope.menu.en === null)
                $scope.menu.en = {};
            console.log($scope.menu.en);
            $scope.menu.en.ingredients.push($scope.enIn);
            console.log("ingredient added");
        };

        $scope.addTagEN = function()
        {
            if($scope.enTag.length > 0)$scope.menu.en.tags.push($scope.enTag);
            $scope.enTag = "";
            console.log("tag added");
        };

        $scope.addCatEN = function()
        {
            if($scope.enCat.length > 0)$scope.menu.en.category.push($scope.enCat);
            $scope.enCat = "";

            console.log("category added");
        };

        $scope.addInFR = function()
        {
            if($scope.frIn.length > 0)$scope.menu.fr.ingredients.push($scope.frIn);
            $scope.frIn = "";
            console.log("ingredient added");
        };


        $scope.addTagFR = function()
        {
            if($scope.frTag.length > 0)$scope.menu.fr.tags.push($scope.frTag);
            $scope.frTag = "";
            console.log("tag added");
        };

        $scope.addCatFR = function()
        {
            if($scope.frCat.length > 0)$scope.menu.fr.category.push($scope.frCat);
            $scope.frCat = "";
            console.log("category added");
        };

        $scope.addHours = function()
        {
            $scope.restaurant.openingHours.push($scope.openingHours);
            $scope.openingHours = {};
        };

        function arrayBufferToBase64( buffer ) {
            var binary = '';
            var bytes = new Uint8Array( buffer );
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode( bytes[ i ] );
            }
            return window.btoa( binary );
        }
    });
</script>

</body>
</html>
