<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">


    <input type="text" ng-model="rid" placeholder="rid">
    <button ng-click="deleteRestaurant()">delete</button>
    <button ng-click="showAll()">show all</button>
    <p ng-model="message">MESSAGE</p>
</div>


<script>
    var app = angular.module('myApp', []);

    app.controller('myCtrl', function($scope, $http)
    {
        //
        $scope.path = "http://localhost:1234";
        $scope.message = "MESSAGE";

        $scope.rid = null;
        $scope.showAll = function()
        {
            var image = false;
            $http({
                method : "GET",
                url : $scope.path+"/restaurant/getRestaurants",
                params: {sendImage: false}
            }).then(function onSuccess(response) {

                console.log(response.data);
                $scope.message = response.data;
            }, function onError(response) {
                console.log("error");
            });
        };
        $scope.deleteRestaurant = function()
        {
            var res = $http.delete($scope.path +'/restaurant/', $scope.rid);

            res.then(function (data, status, headers, config) {
                console.log(data);
                $scope.message = data;
                $scope.rid = null;
            });
            res.catch(function (data, status, header, config) {
                console.log("error");
            });
        };


        function arrayBufferToBase64( buffer ) {
            var binary = '';
            var bytes = new Uint8Array( buffer );
            var len = bytes.byteLength;
            for (var i = 0; i < len; i++) {
                binary += String.fromCharCode( bytes[ i ] );
            }
            return window.btoa( binary );
        }
    });
</script>

</body>
</html>
